.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.poster {
  margin-right: 20px;
}

.poster img {
  max-width: 300px;
}

.info {
  flex-grow: 1;
}

.button {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #44709f;
  color: #cac8c8;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  color: #44709f;
  background-color: #cac8c8;
}

.list {
  list-style: none;
  font-size: 20px;
}

.item a {
  color: #3a6594;
  font-weight: bold;
}
